/*

	ProfileRecorder, record user's info so that it could be browsed offline.
	Copyright 2007 Senvey Lee
	Email me at senvey@gmail.com

	This file is part of ProfileRecorder.

	ProfileRecorder is free software; you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation; either version 2 of the License, or
	(at your option) any later version.

	ProfileRecorder is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.

	You should have received a copy of the GNU General Public License
	along with ProfileRecorder; if not, write to the Free Software
	Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA

*/

#ToolTips
{
	display: none;
	position: absolute;
	padding: 2 2 2 2;
	background-color: #222222;
	color: White;
	z-index: 10;
	filter: Alpha(opacity=80);
}
#ToolTips #EquipInfo
{
	padding: 3 3 3 3;
	font-size: 12px;
}
#ToolTips #TextLine
{
	width: 210px;
}
#ToolTips #Icon
{
	float: left;
	width: 12px;
	height: 12px;
	margin-right: 5px;
}
#ToolTips #LeftText
{
	float: left;
}
#ToolTips #RightText
{
	float: right;
}